<mat-card>
  <mat-card-content>

    <h1>Modules</h1>

    <table mat-table [dataSource]="modules" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="view-codelabs">
        <th mat-header-cell *matHeaderCellDef>View codelabs</th>
        <td mat-cell *matCellDef="let element" >
            <app-button [buttonName]="btn_view_codelabs" [routerLink]="['/codelabs/module', element.id]"></app-button>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>
