<div class="page-wrapper">

    <h1>Modules for Course: {{course?.name}}</h1>

    <div *ngIf="isCoach()">
      <app-button [buttonName]="btn_create_module" [routerLink]="['/modules/create']" [queryParams]="{ courseId: 1}"></app-button>
    </div>

    <table mat-table *ngIf="modules.length !== 0" [dataSource]="modules" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" >
          <app-button [buttonName]="btn_module_details" [routerLink]="['/codelabs']" [queryParams]="{ moduleId: element.id}"></app-button>
          <app-button *ngIf="isCoach()" [buttonName]="btn_edit_module" [routerLink]="['/modules', element.id, 'edit']"></app-button>
          <app-button *ngIf="isCoach()" [buttonName]="btn_add_codelab" [routerLink]="['/codelabs/create']" [queryParams]="{ moduleId: element.id }" ></app-button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  <mat-spinner *ngIf="loading"></mat-spinner>

  <div *ngIf="!loading && modules.length === 0">
    <p>This module does not have any codelabs assigned to it.</p>
  </div>
</div>

