<div>

  <h1>Register an account</h1>

  <div>
    <mat-form-field>
      <mat-label>Display Name</mat-label>
      <input matInput placeholder="Enter your display name" [formControl]="displayName" required>
      @if (displayName.invalid) {
      <mat-error>{{getErrorMessage()}}</mat-error>
      }
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" [formControl]="email" required>
      @if (email.invalid) {
      <mat-error>{{getErrorMessage()}}</mat-error>
      }
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required>
      @if (password.invalid) {
      <mat-error>{{getErrorMessage()}}</mat-error>
      }

      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

  </div>

  <div>
    <mat-form-field>
      <mat-label>Confirm your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="passwordConfirm" required>
      @if (passwordConfirm.invalid) {
      <mat-error>{{getErrorMessage()}}</mat-error>
      }

      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

  </div>

</div>
