mat-toolbar {
  display: flex;
  justify-content: space-between;
  padding-left: 35px;
  padding-right: 35px;
}

mat-toolbar span {
    font-size: x-large;
    font-weight: 500;
    cursor: pointer;
    font-size: large;
}

 ::ng-deep .custom-menu {
  width: 180px; /* Replace with your desired width */
}
