<mat-toolbar>
    <span routerLink='home'>Switchfully learning management system</span>
    <span routerLink='login'>Login</span>
    <span routerLink='register'>Register</span>
    <span *ngIf="this.userService.getCurrentUser()?.role == 'coach'" routerLink='dashboard'>Dashboard</span>
<!--    <span routerLink='dashboard'>Dashboard</span>-->
    <span routerLink='profile'>Profile</span>
    <span routerLink="modules/create">Create module</span>
    <span routerLink="codelabs/create">Create codelab</span>
    <span routerLink='courses'>Courses</span>
    <span routerLink="create-module">Create ModuleDto</span>
    <span routerLink="codelab/create">Create codelab</span>
    <span routerLink="codelab">Codelabs</span>
      @if (this.userService.getCurrentUser()) {
        {{message()}}
      }
</mat-toolbar>
