<mat-card>
  <mat-card-content>

    <h1>Codelabs</h1>

    <table mat-table [dataSource]="codelabs" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="codelab">
        <th mat-header-cell *matHeaderCellDef>Codelab</th>
        <td mat-cell *matCellDef="let element"> {{element.codelab.name}} </td>
      </ng-container>



        <!-- Weight Column -->
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef> Progress </th>
          <td mat-cell *matCellDef="let element"> {{element.progress.name}} </td>
        </ng-container>

      <!--  &lt;!&ndash; Symbol Column &ndash;&gt;-->
      <!--  <ng-container matColumnDef="symbol">-->
      <!--    <th mat-header-cell *matHeaderCellDef> Symbol </th>-->
      <!--    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>-->
      <!--  </ng-container>-->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card-content>
</mat-card>
