<mat-card *ngIf="showCreateClassGroupsModal" (keydown.escape)="onClose()">
  <mat-card-content>
    <h1>Create class group</h1>

    <form [formGroup]="createClassGroupForm">
      <div>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput #message maxlength="256" placeholder="Type here..." formControlName="name">
          <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Start date</mat-label>

          <input matInput [matDatepicker]="startDate" formControlName="startDate" >
          <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>End date</mat-label>
          <input matInput [matDatepicker]="endDate" formControlName="endDate">
          <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
        </mat-form-field>
      </div>
      @if (this.createClassGroupForm.get('endDate')?.dirty && createClassGroupForm.hasError('endDateBeforeStartDate')) {
        <mat-error>Start date should be less than end date</mat-error> }
      <div>
        <app-button [disabled]="createClassGroupForm.invalid" [buttonName]="buttonName" (buttonClick)="onSubmit()"></app-button>
        <app-button [buttonName]="closeButtonName" (buttonClick)="onClose()"></app-button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
