
<div class="profile-wrapper">
  <div class="profile-container">

    <h2>Edit Profile</h2>

    <form [formGroup]="updateProfileForm" (ngSubmit)="updateProfile()">

      <mat-form-field>

        <input matInput class="disabled" [formControl]="email" formControlName="email"  [readonly]="true" [disabled]="true" >

        <mat-icon class="disabled" matSuffix>email</mat-icon>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Display Name</mat-label>
        <input matInput [formControl]="displayName" value="{{displayName}}"  />
      </mat-form-field>

      <div class="class-list">

        <div *ngIf="!(user) || user.classes && user.classes.length > 0">
          <h3>Your Classes</h3>
          <p *ngFor="let classGroup of user?.classes">
            <a [routerLink]="['/class-groups', classGroup.id]">{{classGroup.name}}</a>
          </p>
        </div>

      </div>
      <app-button style="margin-top: 10px;" [buttonName]="updateProfileButton" [disabled]="!updateProfileForm.valid"></app-button>
    </form>

  </div>
</div>
