<form>
  <div>
    <mat-form-field>
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="student@lms.com" [formControl]="email" required>
      @if (email.invalid) {
      <mat-error>{{getEmailErrorMessage()}}</mat-error>
      }
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password">
      @if (password.invalid) {
      <mat-error>{{getPasswordErrorMessage()}}</mat-error>
      }
      <button mat-icon-button matSuffix (click)="hide = !hide" aria-label="Hide password" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

  </div>
  <div>
    <app-button mat-raised-button buttonName="Login" (buttonClick)="onLogin()"></app-button>
  </div>
</form>