<mat-card>
  <mat-card-content>

    <h1>Create module</h1>

    <form>
      <div>
        <mat-form-field>
          <mat-label>Enter module name</mat-label>
          <input matInput placeholder="Module name" [formControl]="name" required>
        </mat-form-field>
      </div>
      <mat-form-field>
        <mat-label>Available Courses</mat-label>
        <mat-select [formControl]="courseIds" multiple required>
          @for (course of courses; track course) {
            <mat-option [value]="course.id">{{course.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div>
        <app-button mat-raised-button buttonName="Create" [disabled]="!createModuleForm.valid"  (buttonClick)="onCreate()"></app-button>
      </div>
    </form>

  </mat-card-content>
</mat-card>
