
h1 {
  text-align: center;
  color: #489ccc;
}

form {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin-bottom: 0.5em;
}

img {
  margin-right: 1em;
}


.register-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}

.register-link p {
  margin: 0;
}

/*.login-button {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*}*/

.logo {
  max-width:12rem;
  height: auto;
  padding: 2.3em 0 4em;
}

.container-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

