
form {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  color: #489ccc;
}

mat-form-field {
  margin-bottom: 0.5em;
}

.mat-mdc-raised-button:not(:disabled){
  padding: 0.5rem 1rem;
  width: 80%;
  font-size: 1.15rem;
  line-height: 1.5;
  border-radius: 1.3rem;
  background-color: #086074;
  color: white;
  text-transform: uppercase!important;
}

.mat-mdc-raised-button[disabled][disabled]{
  padding: 0.5rem 1rem;
  width: 80%;
  font-size: 1.15rem;
  line-height: 1.5;
  border-radius: 1.3rem!important;
  background-color: #aaafb0!important;
  color: white;
  text-transform: uppercase!important;
}

.mat-mdc-card{
  box-shadow: none;
}

.underline button, .underline a {
  text-decoration: underline;
}

.register-button {
  display: flex;
  justify-content: center;
}

.logo {
  max-width:12rem;
  height: auto;
  padding: 2.3em 0 4em;
}

.container-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
