
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  margin-top: 1rem;
}

.container {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 80%;
    margin: auto;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%; /* bottom margin to compensate footer height */
}

.footer {
    position: fixed;
    bottom: 0;
    z-index: 100; /* to avoid button text from peeking through the footer */
    height: 10%;
}

.container {
    flex: 1;
    overflow-y: auto;
}
