
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


table {
  box-shadow: none;
  margin: 1rem 0 3rem;
  table-layout: fixed ;
  width: 100% ;
}


td {
  padding: 16px !important;
}

.right-aligned-cell {
  display: flex;
  justify-content: end;
}

app-button {
  margin-right: max(1rem, 10%);
}

.container {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 80%;
    margin: auto;
}

.page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 3rem auto 10%;
    /* bottom margin to compensate footer height */
}

.footer {
    position: fixed;
    bottom: 0;
    z-index: 100; /* to avoid button text from peeking through the footer */
    height: 10%;
}

.container {
    flex: 1;
    overflow-y: auto;
}

mat-list {
  width: 100%;
}
mat-divider {
  width: 100%;
}

.inline-form {
  display: flex;
  gap: 1rem;
}

.inline-form > * {
  height: 100%;
  margin: 1rem 0;
}

.class-group-overview-button, .class-group-detail-button {
  margin: 0 auto ;
}

.class-group-detail-button {
  margin-left: 0;
  display: table;
  width: 50px;
}
